* {
    padding: 0;
    margin: 0;
}
.page_mobile_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
}
.header{
    width : 100%;
    display: flex;
    align-items: center;
    background-color: #003459;
}
.header .logo{
    width : 40%;
    height : 50%;
    object-fit: contain;
    background-color: #003459;
    margin : 3% auto;
}
a{ 
    text-decoration: none;
    cursor: pointer;
}
.header .icone{
    width : 8%;
    height : 8%;
    object-fit: cover;
    
}
.header .icone1{ 
    margin-left : 4%;
    transform: scale(1.2);
}
.header .icone2{ margin-left : auto;}
.header .icone3{ margin: 2%;}

.sous_categorie {
    display: flex;
    align-items: center;
    width: 100%;
}
.icone_retour{
    width: 10%;
}
.retour {
    font-size: 1.2rem;
    margin-left : -2%;
    flex : 1;
}
.sous_categorie_titre {
    font-size: 1.3rem;
    padding: 5% 0 5% 8%;
    font-weight: 500;
    flex : 4;
}
.titre_text {
    width: 95%;
    font-size: 1.3rem;
    font-weight: 500;
}
.carrousel {
    width : 95%;
    border-radius: 10px;
    box-shadow: #a7a6a6 0px 5px 10px 0px;
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-snap-stop: always;
    margin: 2% 0 5% 0;
}
.images {
    width : 100%;
    scroll-snap-align: center;
    margin: 8% 0;
    object-fit: contain;
}
.description {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: #a7a6a6 0px 5px 10px 0px;
    margin: 2% 0 0 0;
    padding: 5% 0;
}
.descrip {
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    color: black;
    
}
.order {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin : 3% 0;
}
.card {
    width: 44%;
    margin: 2% 0;
    background-color: #003459;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart {
    width: 30%;
    object-fit: contain;
    margin: 20% 0;
}
.card_quantity {
    font-size: 1.2rem;
    color: white;
    margin : 0 2%;
}
.card_icone {
    width: 30%;
}
.prix {
    width: 95%;
    font-size: 1.7rem;
    font-weight: 500;
    color : #003459;
    text-align: center;
    padding: 7% 0;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: #a7a6a6 0px 5px 10px 0px;
}
.prix:hover {
    color : white;
    background-color: #003459;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003459;
    width: 100%;
    margin : 0 0 2px 0;
}
.footer_contact {
    align-items: flex-start;
}
.footer1{
    margin-top : 3%;
}
.text{
    width : 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color : white;
    padding: 5% 0 5% 5%;
}
.contact_text {
    font-size: 1.2rem;
    color : white;
}
.sous_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2% 5%;
}
.sous_contact a{
    font-size: 1rem;
    color : white;
    margin: 1% 0;
}
.reseaux {
    width: 100%;
    background-color: #003459;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0 0 0.2% 0;
}
.title_reseau {
    color : white;
    font-size: 1.2rem;
    text-align: center;
    margin: 3% 0;
}
.icon_reseaux {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.icon_reseaux a {
    width : 10%;
}
.icon_reseaux a img {
    width : 100%;
    height : 100%;
    object-fit: contain;
}
.condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    background-color: #003459;
    flex : 1;
    margin-top: 1px;
}
.list_condition {
    width : 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}
.list_condition a {
    display: inline-block;
    text-align: center;
    color : white;
    font-size: 0.7rem;
}
.copyright {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.icone_copyright {
    width : 5%;
    height : 5%;
    margin : 0 2%;
}
.text_copyright {
    color : white;
    font-size: 0.8rem;
}

@media screen and (max-width : 768px) and (min-width : 450px) {
   .retour, .sous_categorie_titre, .titre_text, .card_quantity, .text, .contact_text {
        font-size: 2rem;
   } 
   .descrip, .sous_contact a, .title_reseau, .text_copyright {
        font-size: 1.5rem;
   }
   .prix {
        font-size: 2.5rem;
   }
   .list_condition a {
        font-size: 1.1rem;
   }
}